.category {
  width: 90%;
  background-color: lightblue;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
}

.movements {
  width: 90%;
  margin: auto;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.selected {
  width: 90%;
  margin: auto;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
}
